.card-newjob {
    display: flex;
    flex-direction: column;
    margin: -16px;

}

.card-headnewjob {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    background: linear-gradient(to right, #046689, #06405d);
    border-radius: 6px 6px 0 0;
}

.card-headnewjob img {
    width: 40px;
    height: 40px;
}

.grup-newjob {
    display: flex;
    align-items: center;
}

.grup-newjob img {
    width: 40px;
    height: 40px;
    margin-right: 16px;
}

.card-headnewjob .textnewjob {
    display: flex;
    flex-direction: column;
    color: white;
}


.textnewjob .title {
    font-weight: 600;
    font-size: large;
}

.textnewjob .subtitle {
    font-weight: 300;
}

.card-newjob .card-content {
    background-color: #fefefe;
    padding: 8px;
}

.card-newjob .card {
    border-radius: 8px;
    box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.4);
    margin: 8px;
    display: flex;
    flex-direction: column;
    padding: 16px;
    background-color: #ffffff;
    font-weight: 500;
}

.card .card-text {
    margin-bottom: 32px;
}

.card-newjob .card-footer {
    display: flex;
    justify-content: flex-end;
    padding: 8px;
    background: linear-gradient(to right, #046689, #06405d);
    border-radius: 0px 0px 6px 6px;
    color: #ffffff;
}


.card-footer .button {
    border-radius: 4px;
    color: white;
    background: linear-gradient(to right, #05698b, #02425c);
    padding: 8px 32px;
    font-size: medium;
    box-shadow: 3px 2px 2px 0px rgba(0, 0, 0, 0.5);

}

.custom-dialog {
    width: 95%;
    left: 2.5%;
    margin-left: 0;
    background-color: #ffffff;
    border-radius: 4px;
}

.card-jobnew {
    border-radius: 8px;
    box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.tablenewjob {
    /* font-family: Arial, Helvetica, sans-serif; */
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    overflow: hidden;
}

.tablenewjob td {
    padding: 4px 16px;
    color: #858585;
}

.tablenewjob tr {
    height: 50px;
}

.detailjobnew .tablenewjob tr {
    height: 25px;
}


.tablenewjob tr:nth-child(odd) {
    background-color: #ebebeb;
}


.tablenewjob tr:nth-child(even) {
    background-color: white;
}


.tablenewjob td {
    font-weight: 600;
    font-size: medium;
}

/* 
.tablebank tr:hover {
    background-color: #ddd;
} */